.profileCard {
	background-color: var(--excursion-card-bg);
	border: 1px solid var(--separator-color);
	color: var(--text-color);
	/* Mantenemos el border-radius por defecto de las tarjetas de Bootstrap para consistencia */
	border-radius: 0.375rem;
}

.cardHeader {
	background-color: var(--primary-color);
	color: white;
	font-size: 1.1rem; /* Ajustamos el tamaño para que no sea tan grande */
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 1.25rem;
	border-bottom: 1px solid var(--separator-color);
}

.cardBody {
	background-color: transparent; /* Aseguramos que el cuerpo de la tarjeta no sobreescriba el fondo */
	padding: 1.5rem;
	font-size: 1.1rem;
}

.editButton,
.cancelButton,
.saveButton {
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}