.skeletonCard {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--excursion-card-bg);
	box-shadow: var(--excursion-card-shadow);
	border-radius: 12px;
	border: var(--excursion-card-border);
}
