.container {
	width: 95%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.title {
	margin-top: 40px;
	padding-bottom: 30px;
	color: var(--primary-color);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.messageNotFound {
	font-size: 1.6rem;
	text-align: center;
	color: var(--accent-color);
}
