.excursionItemCard {
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	height: 100%; 
	display: flex;
	flex-direction: column;
}

.excursionItemCard .card-body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.excursionTitle {
	font-size: 1.4rem;
	font-weight: 600;
	color: #333;
	margin-bottom: 0.5rem;
}

.excursionArea {
	font-size: 1.1rem;
	font-style: italic;
}

.excursionDescription {
	font-size: 1.1rem;
	color: #555;
	line-height: 1.5;
	margin-bottom: 1rem;
	flex-grow: 1; 
	text-align: justify; /* Hace que el texto llene el ancho de la línea */
	text-align-last: left; /* Alinea la última línea a la izquierda */
	hyphens: auto; /* Permite la división de palabras para un mejor flujo del texto justificado */
}

.excursionDetails {
	margin-top: auto;
	margin-bottom: 1rem;
	font-size: 1.1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.readMoreLink {
	text-decoration: none;
	font-weight: 550;
}

.readMoreLink:hover {
	text-decoration: underline;
}
