.title {
	margin-top: 40px;
	margin-bottom: 0.4rem;
	border-bottom: 1px solid var(--border-color-light);
	padding-bottom: 0.5rem;
	color: var(--heading-color);
	font-size: 1.6rem;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.messageNotFound {
	font-size: 1.6rem;
	text-align: center;
	color: var(--accent-color);
}

.centeredStatus {
	display: flex;
	flex-direction: column;
	flex-grow: 1; /* CLAVE: Hace que el contenedor crezca y ocupe el espacio vertical disponible */
	align-items: center; /* Centra horizontalmente */
	justify-content: center; /* Centra verticalmente */
}

/* --- Media Queries --- */
@media (max-width: 991.98px) {
	/* Para md y pantallas más pequeñas */
	.title {
		text-align: center;
	}
}

/* --- Media Queries --- */
@media (max-width: 767.98px) {
	.centeredStatus {
		justify-content: flex-start;
		padding-top: 60px;
	}
}

/* Breakpoints grandes (lg y superiores) */
@media (min-width: 1230px) {
	.centeredStatus {
		align-content: flex-start;
	}
}
