.container {
	min-height: var(--minheight);
}

.title {
	margin-top: 40px;
	padding-bottom: 30px;
	color: var(--green-primary);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.messageNotFound {
	font-size: 1.6rem;
}
