.excursionItemCard {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: var(--excursion-card-bg);
	border: none;
	border-radius: 12px;
	box-shadow: var(--excursion-card-shadow);
	/* Añade un outline para la accesibilidad del teclado */
	outline-offset: 2px;
}
.excursionItemCard:focus-visible {
	outline: 2px solid var(--focus-outline-color);
}

.excursionItemCard .card-body {
	background-color: transparent;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

/* Título de la tarjeta */
.excursionTitle {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	color: var(--excursion-card-title-color);
}

.areaIcon {
	margin-right: 0.25rem;
	font-size: 1.2rem;
	color: var(--bs-primary);
}

.excursionArea {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-style: italic;
}

.excursionDetails {
	margin-bottom: 1rem;
	font-size: 0.95rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	color: var(--text-color);
}

.detailItem {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.detailIcon {
	color: var(--excursion-card-icon-color);
	font-size: 1.2rem;
}

.difficultyBadge {
	display: inline-block;
	padding: 0.25em 0.6em;
	border-radius: 1em;
	font-size: 0.85rem;
	font-weight: 600;
	line-height: 1;
	text-align: center;
}

/* Clases para el color del texto de la dificultad */
.difficultyTextLight {
	color: var(--white);
}

.difficultyLow {
	background-color: var(--bs-success); /* Verde */
}

.difficultyMedium {
	background-color: var(--bs-warning); /* Amarillo */
}

.difficultyHigh {
	background-color: var(--bs-danger); /* Rojo */
}

.joinedStatus {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	color: var(--excursion-card-joined-status-text);
	font-weight: 600;
}

.cardActionArea {
	min-height: 42px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: background-color 0.3s ease-in-out;
}

.joinButton {
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
