.excursion {
	margin-top: 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid var(--excursion-border-bottom);

	&:last-child {
		border-bottom: none;
	}
}

.title {
	font-size: 1.8rem;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.bold {
	display: inline-block;
	font-size: large;
	font-weight: bold;
}
