.container {
	width: 95%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	min-height: 1093.270;
}

.title {
	margin-top: 40px;
	padding-bottom: 30px;
	color: var(--primary-color);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

/* Aplicar el desplazamiento del título solo en breakpoints grandes (lg y superiores) */
@media (min-width: 1231px) {
	.title {
		/* Para mover visualmente el título un poco más a la izquierda
		   desde su posición actual. */
		transform: translateX(-40px);
	}
}

.messageNotFound {
	font-size: 1.6rem;
	text-align: center;
	color: var(--accent-color);
}

.centeredStatus {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centra horizontalmente */
	justify-content: center; /* Centra verticalmente */
}
