.customAccordion {
	padding-top: 15px;
}

/* Estilo para la cabecera del acorde칩n */
.customAccordionHeader button {
	font-weight: 450;
	font-size: 1.1rem;
	display: flex;
	/* Poner esto permite utilizar las propiedades flexbox para controlar el posicionamiento de sus hijos
	con 'align-items' y 'justify-content' */
	align-items: center;
	justify-content: space-between;
}

/* A침ade un margen a la derecha del icono */
.customAccordionHeader button svg {
	margin-right: 10px;
}

/* Estilo para la cabecera cuando el item est치 abierto (activo) */
.customAccordionHeader button:not(.collapsed) {
	box-shadow: none;
}

/* Estilo para el cuerpo del acorde칩n */
.customAccordionBody {
	padding: 1rem 1.25rem;
}
