/* En css/Filters.module.css */

.filtersContainer {
	/* Puedes añadir padding o margen si es necesario */
	padding-top: 15px;
}

/* Estilo para la cabecera del acordeón */
.customAccordionHeader button {
	/* El botón dentro del header es lo que Bootstrap estiliza */
	font-weight: 450; /* Hacer el texto un poco más grueso */
	font-size: 1.1rem; /* Ajustar tamaño si es necesario */
}

/* Estilo para la cabecera cuando el item está abierto (activo) */
.customAccordionHeader button:not(.collapsed) {
	box-shadow: none; /* Quitar sombra interna al estar activo */
}

/* Estilo para el cuerpo del acordeón */
.customAccordionBody {
	padding: 1rem 1.25rem; /* Ajustar padding si es necesario */
}
