.skeletonPill {
	width: 100%; /* Hacemos que ocupe el 100% del contenedor li */
	height: 38px; /* Altura de una píldora (padding + font-size + border) */
	background-color: var(--filter-pill-bg);
	border-radius: 50px;
	animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Animación de pulso para el esqueleto de carga */
@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}