.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 1rem;
	text-align: center;
	background-color: var(--primary-color);
	color: white;
}

.footerText {
	margin: 0;
}

.mailIconLink {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 45px; /* Tamaño del círculo */
	height: 45px;
	border-radius: 50%;
	margin-bottom: 0.75rem;
	background-color: white; /* Círculo en blanco */
	font-size: 1.5rem;
	color: var(--primary-color); /* Icono con el color primario */
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.mailIconLink:hover {
	background-color: #f0f0f0; /* Un gris muy claro para el hover */
}
