.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1; /* Asegura que el contenedor ocupe el espacio vertical disponible */
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.cardTitle {
	color: var(--heading-color);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.6rem;
	letter-spacing: 0.5px;
	padding-bottom: 0.75rem;
	margin-bottom: 1.5rem; /* Espacio ajustado para un mejor layout */
}

/* Media query para breakpoints pequeños (xs breakpoint de Bootstrap es <576px) */
@media (max-width: 575.98px) {
	.container {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
