.dropdownText {
	color: var(--text-light);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.1rem;
}

/* Se añade margen a la derecha del icono */
.dropdownText svg {
	margin-right: 8px;
}
