.profileLink {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 0.375rem;
	background-color: transparent;
	border: 1px solid var(--register-link-border-color);
	color: var(--register-link-color);
	transition: none;

}

.profileLink:hover {
	color: var(--register-link-color);
	background-color: rgba(0, 0, 0, 0.05);
	border-color: var(
		--register-link-border-color
	);
	outline: none; /* Remove default focus outline if needed */
	box-shadow: none;
}

.logoutLink {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 0.375rem;
	background-color: rgb(80, 73, 73);;
	color: var(--text-color-dark);
	border-color:  var(rgb(80, 73, 73));
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.logoutLink:hover {
	background-color: rgb(100, 93, 93); 
	border-color: rgb(100, 93, 93); 
	color: var(--text-color-dark); 
	outline: none;
	box-shadow: none;
}