.profileLink {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.1rem;
}

.profileLink svg {
	width: 28px;
	height: 28px;
	margin-right: 6px;
}
