/* ======================================== */
/* --- ESTILOS GENERALES --- */
/* ======================================== */
:root {
	/* --- Paleta principal ---*/
	--primary-color: #3a5f40;
	--accent-color: #e67e22;
	--heading-color: var(--primary-color);

	/* --- Colores de texto ---*/
	--text-color-light: #333333;
	--text-color-dark: #e0e0e0;

	/* --- Colores de Fondo y Superficie --- */
	--surface-color-dark: #404040;
	--secondary-accent-dark: #4a3b33;
	--background-color-light: #faf8f5;
	--background-color-dark: #1e1e1e;

	/* --- Colores de Borde --- */
	--border-color-light: #e0e0e0;
	--border-color-dark: #777777;
	--logout-bg-color: rgb(80, 73, 73);
	--logout-bg-color-hover: rgb(100, 93, 93);

	/* --- Accesibilidad --- */
	--focus-outline-color: var(--accent-color);

	/* --- Tamaños y Tipografías --- */
	--min-height-layout: 1200px;
	font-size: 16px;
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* --- Estilos de Foco para Accesibilidad --- */
/* Se usa :focus-visible para mostrar el contorno solo a los usuarios de teclado, 
   mejorando la experiencia sin molestar a los usuarios de ratón. */
*:focus-visible {
	outline: 3px solid var(--focus-outline-color);
	outline-offset: 2px;
	border-radius: 2px; /* Opcional: para que el contorno sea redondeado */
}

.layout {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	min-height: 100vh;
}

.mainContentWrapper {
	min-height: var(--min-height-layout);
}
