:root {
	--bg-light-primary: #f8f8f8;
	--bg-light-secondary:#f0f1f3;
	--text-light: #333;
	--bg-dark-primary: #222;
	--bg-dark-secondary: #444;
	--text-dark: #eee;
	--green-primary: #588133;
	--green-secondary: #709056;
	--excursion-border-bottom: var(--bg-dark-primary);
	font-size: 16px;
	--minheight: calc(100vh - 280.1px);
}

.layout {
	font-family: Arial, Helvetica, sans-serif;
}
