/* ======================================== */
/* --- ESTILOS GENERALES --- */
/* ======================================== */
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	/* --- Tamaños y Tipografías --- */
	font-size: 16px;
}

/* --- Estilos de Foco para Accesibilidad --- */
/* Se usa :focus-visible para mostrar el contorno solo a los usuarios de teclado, mejorando la experiencia sin molestar a los usuarios de ratón. */
*:focus-visible {
	outline: 3px solid var(--focus-outline-color);
	outline-offset: 2px;
	border-radius: 2px;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Ocupa al menos toda la altura de la ventana */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mainContentWrapper {
	/* Hace que el contenido principal crezca para empujar el footer hacia abajo */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
