/* ======================================== */
/* --- ESTILOS GENERALES --- */
/* ======================================== */
:root {
	/* --- Paleta principal ---*/
	--primary-color: #3a5f40;
	--secondary-color: #f5e8d3;
	--accent-color: #e67e22;

	/* --- Colores de texto ---*/
	--text-color-light: #333333;
	--text-color-dark: #e0e0e0;

	/* --- Colores de Fondo y Superficie --- */
	--surface-color-dark: #404040;
	--primary-accent-dark: #3b82f6;
	--secondary-accent-dark: #4a3b33;
	--background-color-light: #faf8f5;
	--background-color-dark: #1e1e1e;

	/* --- Colores de Borde --- */
	--border-color-light: #e0e0e0;
	--border-color-dark: #777777;
	--logout-bg-color: rgb(80, 73, 73);
	--logout-bg-color-hover: rgb(100, 93, 93);

	/* --- Tamaños y Tipografías --- */
	--minHeight: 1006px;
	font-size: 16px;
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

.contentMinHeight {
	min-height: var(--minHeight);
}

.fallbackMinHeight {
	min-height: 1030px;
	/* Esta altura debería ser suficiente para el spinner y el texto "Cargando página..." */
	/* baseFallbackClassName ya se encarga del centrado flex */
}

@media (max-width: 767.98px) {
	.contentMinHeight {
		min-height: 942.31px;
	}

	.fallbackMinHeight {
		min-height: 200px;
	}
}

.layout {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: flex;
	flex-direction: column; /* Apila NavigationBar, Container y Footer verticalmente */
	min-height: 100vh;
}

.mainContentWrapper {
	overflow-y: auto;
}
