/* ======================================== */
/* --- ESTILOS GENERALES --- */
/* ======================================== */
:root {
	--primary-color: #3a5f40;
	--secondary-color: #f5e8d3;
	--accent-color: #e67e22;
	--text-color-light: #333333;
	--text-color-dark: #e0e0e0;
	--surface-color-dark: #404040;
	--primary-accent-dark: #3b82f6;
	--secondary-accent-dark: #4a3b33; /* Marr칩n oscuro para el acento secundario */
	--background-color-light: #faf8f5;
	--background-color-dark: #1e1e1e;
	--border-color-light: #e0e0e0;
	--border-color-dark: #777777;
	--success-color: #28a745;
	--danger-color: #dc3545;
	--logout-bg-color: rgb(80, 73, 73);
	--logout-bg-color-hover: rgb(100, 93, 93);
	--minHeight: 1020.76px;
	font-size: 16px;
}

.contentMinHeight {
	min-height: var(--minHeight);
}

.layout {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	box-sizing: border-box;
}

.mainContentWrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	min-height: 0; /* Ayuda a que los hijos flex-grow se comporten de manera predecible */
}

.mainContent {
	flex-grow: 1; /* Permite que esta secci칩n se expanda y empuje el footer hacia abajo */
	display: flex;
	flex-direction: column; /* Para el layout interno de mainContent */
	box-sizing: border-box; /* Incluye padding y border en el c치lculo del ancho total si se a침aden */
}

.centeredContent {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
