/* ======================================== */
/* --- ESTILOS GENERALES --- */
/* ======================================== */
:root {
	--primary-color: #3a5f40;
	--secondary-color: #f5e8d3;
	--accent-color: #e67e22;
	--text-color-light: #333333;
	--text-color-dark: #e0e0e0;
	--surface-color-dark: #404040;
	--primary-accent-dark: #3b82f6;
	--secondary-accent-dark: #a2a8ae;
	--background-color-light: #faf8f5;
	--background-color-dark: #1e1e1e;
	--border-color-dark: #777777;
	--success-color: #28a745;
	--danger-color: #dc3545;
	font-size: 16px;
	--minheight: calc(100vh - 280.1px);
}

.layout {
	font-family: Arial, Helvetica, sans-serif;
}
  
