/* ======================================== */
/* --- ESTILOS GENERALES --- */
/* ======================================== */
:root {
	/* --- Paleta principal ---*/
	--primary-color: #3a5f40;
	--secondary-color: #f5e8d3;
	--accent-color: #e67e22;

	/* --- Colores de texto ---*/
	--text-color-light: #333333;
	--text-color-dark: #e0e0e0;

	/* --- Colores de Fondo y Superficie --- */
	--surface-color-dark: #404040;
	--primary-accent-dark: #3b82f6;
	--secondary-accent-dark: #4a3b33;
	--background-color-light: #faf8f5;
	--background-color-dark: #1e1e1e;

	/* --- Colores de Borde --- */
	--border-color-light: #e0e0e0;
	--border-color-dark: #777777;
	--logout-bg-color: rgb(80, 73, 73);
	--logout-bg-color-hover: rgb(100, 93, 93);

	/* --- Tamaños y Tipografías --- */
	--minHeight: 1101px;
	font-size: 16px;
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

.contentMinHeight {
	min-height: var(--minHeight);
}

.layout {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	box-sizing: border-box;
}

.mainContentWrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.mainContent {
	flex-grow: 1; /* Permite que esta sección se expanda y empuje el footer hacia abajo */
	display: flex;
	flex-direction: column; /* Para el layout interno de mainContent */
	box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho total si se añaden */
}
