/* Login.module.css */
.loginDropdownButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

.loginDropdownButtonItem {
	width: 300px;
}

.formText {
	font-weight: bold;
}

.sendBtn {
	margin-left: 34%;
}