/* Login.module.css */
.loginDropdownButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

.loginDropdownButtonItem {
	width: 340px;
}

.loginDropdownButtonText p {
	color: black;
}

.formText {
	font-weight: bold;
	margin-bottom: 10px;
	color: black;
}

.sendBtn {
	margin-left: 38%;
}

/* Remove hover and click effects from Dropdown.Item */
.loginDropdownButtonItem:hover,
.loginDropdownButtonItem:focus,
.loginDropdownButtonItem:active {
  background-color: transparent; /* Remove background color change */
  color: inherit; /* Keep the original text color */
  text-decoration: none; /* Remove underline */
  box-shadow: none; /* Remove box shadow */
  cursor: inherit; /* Prevent cursor*/
}

/* Remove hover and click effects from the "Enviar" button */
.sendBtn:active {
  background-color: inherit; /* Keep the original background color */
  border-color: inherit; /* Keep the original border color */
  box-shadow: none; /* Remove box shadow */
}

/* Optional: Remove the focus outline */
.sendBtn:focus,
.loginDropdownButtonItem:focus {
  outline: none;
}
