.containerLoginForm {
	/*min-height: 100vh;  /* Eliminado para evitar problemas con el footer */
	display: flex;
	flex-direction: column; /* Apila los hijos (Rows) verticalmente */
	flex-grow: 1; /* Permite que este contenedor crezca y ocupe el espacio vertical disponible en su padre flex */
	justify-content: center; /* Centra los hijos (Rows) verticalmente en el contenedor */
	padding-top: 2rem; /* Añade espacio general arriba */
	padding-bottom: 2rem; /* Añade espacio general abajo */
}

.cardTitle {
	color: var(--primary-color);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.6rem; /* Reducimos un poco el tamaño de la fuente */
	letter-spacing: 0.5px; /* Un ligero espaciado para mejorar la estética del texto en mayúsculas */
	padding-bottom: 0.75rem; /* Espacio entre el texto y el borde inferior */
	border-bottom: 1px solid var(--bs-border-color); /* Borde inferior sutil. Puedes usar var(--bs-border-color) si lo prefieres */
	margin-bottom: 2rem; /* Ajustamos el margen inferior para dar espacio después del borde */
}

.loginCard {
	margin-top: 2rem; /* Margen superior general para la tarjeta */
	margin-bottom: 2rem; /* Margen inferior general para la tarjeta */
	padding-bottom: 2rem;
	border-radius: 0.5rem;
}

/* Media query para pantallas pequeñas (xs breakpoint de Bootstrap es <576px) */
@media (max-width: 575.98px) {
  .containerLoginForm {
    padding-top: 1rem; /* Menos padding en el contenedor en pantallas pequeñas */
    padding-bottom: 1rem;
  }
  .loginCard {
    margin-top: 1rem; /* Margen superior más pequeño para la tarjeta en pantallas pequeñas */
    margin-bottom: 1.5rem; /* Margen inferior más pequeño para la tarjeta */
  }
}
