.containerLoginForm {
	min-height: var(--minheight);
}

.title {
	margin-top: 40px;
	color: var(--primary-color);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.loginCard {
	margin-top: 3rem;
	margin-bottom: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
	border-radius: 0.5rem;
}

