@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");

.logoText {
	font-family: "Fleur De Leah", cursive;
	font-size: 2.3rem;
	font-weight: 600;
	color: var(--heading-color);
	padding-left: 10px;
}
