@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");

.logoText {
	font-family: "Fleur De Leah", cursive;
	font-size: 2.2rem;
	font-weight: 600;
	color: var(--green-primary);
}
