/* --- Botón de Cambio de Tema --- */
.themeToggleBtn {
	border-color: #ced4da;
	background-color: transparent;
	line-height: 1;
	transition: background-color 0.2s ease, border-color 0.2s ease,
		color 0.2s ease;
	border-radius: 5rem;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
		border-color: #adb5bd;
	}
}
