.navbarContainer {
	border-bottom: 1px solid var(--border-color-light);
}

.themeToggleBtn {
	background-color: transparent;
	transition: background-color 0.2s ease, border-color 0.2s ease,
		color 0.2s ease;
	color: inherit;
	padding: 4px 4px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	svg {
		font-size: 1.2rem;
	}
}

.themeIcon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.registerLink {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 0.375rem;
	background-color: transparent;
	border: 1px solid var(--register-link-border-color);
	color: var(--register-link-color);
	transition: none;
}

.registerLink:hover {
	color: var(--register-link-color);
	background-color: rgba(0, 0, 0, 0.05);
	border-color: var(--register-link-border-color);
	outline: none; /* Remove default focus outline if needed */
	box-shadow: none;
}

.loginLink {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 0.375rem;
	background-color: var(--primary-color);
	color: var(--text-color-dark);
	border-color: var(--primary-color);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.loginLink:hover {
	background-color: #2e4c34;
	border-color: #2e4c34;
	color: var(--text-color-dark);
	outline: none;
	box-shadow: none;
}

.loginLink:focus {
	color: var(--text-color-dark);
}

.authNavItems {
	min-height: 40px;
	min-width: 227.86px;
	justify-content: flex-start;
}
