.navbarContainer {
	border-bottom: 1px solid var(--border-color-light);
}

.themeToggleBtn {
	background-color: transparent;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	color: var(--theme-toggle-btn-color);
	padding: 6px 8px; /* Aumentamos el padding para que el bot칩n no se vea tan apretado */
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--theme-toggle-btn-border-color);
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
}

.themeIcon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem; /* Tama침o base del icono */

}

.themeToggleBtn:hover {
	background-color: var(--theme-toggle-btn-bg-hover);
	color: var(--theme-toggle-btn-color); /* Mantenemos el color del icono */
	border-color: var(--theme-toggle-btn-border-color); /* Mantenemos el color del borde */
	transform: scale(
		1.2
	); /* Agranda el icono al pasar el rat칩n por encima del bot칩n */
}

.registerLink {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 0.375rem;
	background-color: transparent;
	border: 1px solid var(--register-link-border-color);
	color: var(--register-link-color);
	transition: none;
}

.registerLink:hover {
	background-color: rgba(0, 0, 0, 0.05);
	outline: none;
	box-shadow: none;
}

.loginLink {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 0.375rem;
	background-color: var(--primary-color);
	color: white;
	border-color: var(--primary-color);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.loginLink:hover,
.loginLink:focus {
	color: var(--text-color-dark);
}

.loginLink:hover {
	background-color: #2e4c34;
	border-color: #2e4c34;
	box-shadow: none;
}

.authNavItems {
	min-height: 40px;
	min-width: 227.86px;
	justify-content: flex-start;
}

.offcanvasMenu {
	max-width: 300px;
}
