.themeToggleBtn {
	border-color: #ced4da;
	background-color: transparent;
	transition: background-color 0.2s ease, border-color 0.2s ease,
		color 0.2s ease;
	color: inherit;
	width: 40px;
	height: 40px;
	padding: 0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
		border-color: #adb5bd;
	}

	svg {
		font-size: 1.2rem;
	}
}
