.themeToggleBtn {
	background-color: transparent;
	transition: background-color 0.2s ease, border-color 0.2s ease,
		color 0.2s ease;
	color: inherit;
	padding: 4px 4px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	svg {
		font-size: 1.2rem;
	}
}

.registerLink {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 0.375rem;
	background-color: transparent;
	border: 1px solid var(--register-link-border-color);
	color: var(--register-link-color);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.loginLink {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 0.375rem;
	background-color: var(--primary-color);
	color: var(--text-color-dark);
	border-color: var(--primary-color);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

}

.loginLink:hover,
.loginLink:focus {
	color: var(--text-color-dark);
}
