.listCard {
	border: 1px solid var(--separator-color);
	box-shadow: var(--excursion-card-shadow);
	background-color: var(--excursion-card-bg);
	color: var(--text-color);
}

.cardHeader {
	background-color: var(--primary-color);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 1.25rem;
	border-bottom: 1px solid var(--separator-color);
}

.cardBody {
	padding: 1.5rem;
	font-size: 1.1rem;
}

.noItemsMessage {
	font-size: 1.2rem;
	font-style: italic;
	text-align: center;
}