.container {
	min-height: var(--minheight);
}

.title {
	margin-top: 40px;
	color: var(--green-primary);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.registerCard {
	margin-top: 3rem;
	margin-bottom: 6rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-radius: 0.5rem;
}

.infoMessages {
	font-style: italic;
}
