/* ======================================== */
/* --- ESTILOS PARA MODO CLARO --- */
/* ======================================== */
body.light {
	background-color: var(--bg-light-primary);
	color: var(--text-light);
	--toggle-button-bg: var(--text-dark);

	/* --- Estilos para la barra de navegación --- */
	.customNavbar {
		background-color: var(--bg-light-primary);
		z-index: 1030;
		color: var(--text-light);
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
		width: 100%;
	}

	/* --- Estilos para filtros --- */
	.accordion-button,
	.accordion-body {
		background-color: var(--bg-light-primary);
		color: var(--text-light);
		transition: none;

		&::after {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
		}
	}

	/* --- Estilos para el login, el cuerpo de la tabla y el texto de formularios --- */
	#registerForm,
	tbody,
	.formText {
		background-color: var(--bg-light-primary);
		color: var(--text-light);
	}

	/* Estilos para el Offcanvas */
	.offcanvas-header,
	.offcanvas-body {
		background-color: var(--bg-light-primary);
		color: var(--text-light);
	}

	/* --- Estilos para links dentro del Offcanvas --- */
	.offcanvas-body .nav-link {
		color: var(--text-light);
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

}

/* ======================================== */
/* --- ESTILOS PARA MODO OSCURO --- */
/* ======================================== */
body.dark {
	background-color: var(--bg-dark-primary);
	color: var(--text-dark);
	--excursion-border-bottom: var(--bg-light-secondary);

	/* --- Estilos para la barra de navegación --- */
	.customNavbar {
		background-color: var(--bg-dark-primary);
		z-index: 1030;
		color: var(--text-dark);
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
		width: 100%;
	}

	/* --- Estilos para los filtros --- */
	.accordion-button,
	.accordion-body {
		background-color: var(--bg-dark-primary);
		color: var(--text-dark);
		transition: none;

		&::after {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eee'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
		}
	}

	.accordion-item {
		border: none; /* Se eliminan todos los bordes */
		border-bottom: 1px solid var(--text-light); /* Solo se añade el borde inferior en blanco */
		background-color: var(
			--bg-dark
		); /* Nos aseguramos de que el color del fondo sea el mismo */
	}

	/* Restablecer el radio del botón para el último item del acordeón en flush */
	.accordion-flush .accordion-item:last-child {
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}

	/* --- Estilos del login, el cuerpo y el texto de los formularios --- */
	#registerForm,
	tbody,
	.formText {
		background-color: var(--bg-dark-primary);
		color: var(--text-dark);
	}

	/* Estilos para Offcanvas */
	.offcanvas-header,
	.offcanvas-body {
		background-color: var(--bg-dark-primary);
		color: var(--text-dark);
	}

	.offcanvas-header .btn-close {
		filter: invert(1) grayscale(100%) brightness(200%);
	}

	.offcanvas-body .nav-link {
		color: var(--text-dark); 
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	/* --- Estilos para las Card del perfil del usuario --- */
	.card,
	.card-body {
		background-color: var(--bg-dark-primary);
		color: var(--text-dark);
	}

	.card {
		border-color: var(--bg-dark-secondary);
	}

	.card-header,
	.card-footer {
		background-color: var(--bg-dark-secondary);
		color: var(--text-dark);
		border-color: #555;
	}

	.card-body p {
		background-color: #6f6b6b;
		color: var(--text-dark);
	}

	/* --- Estilos para los Form.Control --- */
	.form-control {
		background-color: var(--bg-dark-secondary);
		color: var(--text-dark);
		border: 1px solid var(--text-dark);
	}

	.form-control:disabled,
	.form-control[readonly] {
		background-color: rgb(47, 46, 46);
		color: var(--text-dark);
		border: 1px solid var(--text-dark);
	}

	/* Estilo específico para plaintext readOnly */
	.form-control-plaintext[readonly] {
		color: var(--text-dark);
	}
}
