/* ======================================== */
/* --- ESTILOS PARA MODO CLARO --- */
/* ======================================== */
body.light {
	background-color: var(--background-color-light);
	color: var(--text-color-light);
	--register-link-color: var(--text-color-light);
	--register-link-border-color: var(--text-color-light);

	/* --- Estilos para la barra de navegación --- */
	.customNavbar {
		background-color: var(--background-color-light);
		z-index: 1030;
		color: var(--text-color-light);
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
		width: 100%;
	}

	/* --- Estilos para filtros --- */
	.accordion-button,
	.accordion-body {
		background-color: var(--background-color-light);
		color: var(--text-color-light);
		transition: none;

		&::after {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
		}
	}

	/* --- Estilos para el Offcanvas --- */
	.offcanvas {
		width: 60%;
		max-width: 250px;
	}

	.offcanvas-header {
		background-color: var(--background-color-light);
		color: var(--primary-color);
		font-weight: bolder;
		padding: 1rem 1.25rem;
		border-bottom: 1px solid #dee2e6;
	}

	.offcanvas-body {
		padding: 1rem 0;
	}

	.offcanvas-body .nav-link {
		display: block;
		width: 95%;
		margin-left: 2.5%;
		text-align: center;
		margin-bottom: 0.6rem;
		color: var(--text-color-light);
		padding: 0.6rem 1rem;
		display: block;
		text-decoration: none;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 0.375rem;
	}

	.offcanvas-body .nav-link {
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; /* Ensure transition is here */
	}

	.offcanvas-body .nav-link[class*="loginLink"],
	.offcanvas-body .nav-link[class*="logoutLink"] {
		color: var(--text-color-dark);
	}
}

/* ======================================== */
/* --- ESTILOS PARA MODO OSCURO --- */
/* ======================================== */
body.dark {
	background-color: var(--background-color-dark);
	color: var(--text-color-dark);
	--register-link-color: var(--text-color-dark);
	--register-link-border-color: var(--text-color-dark);

	/* --- Estilos para la barra de navegación --- */
	.customNavbar {
		background-color: var(--background-color-dark);
		color: var(--text-color-dark);
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
		width: 100%;
	}

	.customNavbar .nav-link[class*="registerLink"]:hover {
		background-color: rgb(255, 255, 255, 0.1);
		color: var(--register-link-color);
		border-color: var(--register-link-border-color);
	}

	/* --- Estilos para los filtros --- */
	.accordion-button,
	.accordion-body {
		background-color: var(--background-color-dark);
		color: var(--text-color-dark);
		transition: none;
		&::after {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E5E7EB'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
		}
	}

	.accordion-item {
		border-bottom: 1px solid var(--border-color-dark);
		background-color: var(--background-color-dark);
	}

	/* --- Estilos para las Card --- */
	.card {
		background-color: var(--surface-color-dark);
		color: var(--text-color-dark);
		border-color: var(--surface-color-dark);
		border-radius: 0.5rem;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
	}

	.card-header {
		background-color: var(--primary-color);
		border-bottom: 1px solid var(--border-color-dark);
	}

	.card-body {
		background-color: var(--surface-color-dark);
		color: var(--text-color-dark);
		border-radius: 0.5rem;
	}

	.card-title,
	.card-text {
		color: var(--text-color-dark);
	}

	.card .badge {
		color: var(--text-color-light);
	}

	.card-body .no-excursions-text {
		background-color: var(--secondary-accent-dark);
		color: var(--text-color-dark);
	}

	/* --- Estilos para los Form.Control --- */
	.form-control {
		background-color: var(--surface-color-dark);
		color: var(--text-color-dark);
		border: 1px solid var(--border-color-dark);
	}

	.form-control::placeholder {
		color: var(--subtle-text-color-dark);
	}

	.form-control:disabled,
	.form-control[readonly] {
		background-color: var(--background-color-dark);
		color: var(--subtle-text-color-dark);
		border: 1px solid var(--border-color-dark);
	}

	.form-control-plaintext[readonly] {
		color: var(--text-color-dark);
	}

	/* --- Estilos para el Offcanvas --- */
	.offcanvas {
		width: 60%;
		max-width: 250px;
	}

	.offcanvas-header {
		background-color: var(--background-color-dark);
		color: var(--primary-color);
		font-weight: bolder;
		padding: 1rem 1.25rem;
		border-bottom: 1px solid var(--border-color-dark);

		.btn-close {
			filter: invert(1) grayscale(100%) brightness(200%); /* Keep the white close button */
		}
	}

	.offcanvas-body {
		background-color: var(--surface-color-dark);
		padding: 1rem 0;
	}

	/* --- Estilos para links dentro del Offcanvas --- */
	.offcanvas-body .nav-link {
		display: block;
		width: 95%;
		margin-left: 2.5%;
		text-align: center;
		margin-bottom: 0.6rem;
		color: var(--text-color-dark);
		padding: 0.6rem 1rem;
		text-decoration: none;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 0.375rem;
	}
}
