.userPage {
	min-height: var(--minheight);
}

.title {
	color: var(--green);
	margin-bottom: 2rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

/* Card header */
.cardHeader {
	background-color: var(--bg-light-primary);
	color: #495057;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 1.25rem;
	border-bottom: 1px solid #dee2e6;
}

/* Body header */
.cardBody {
	padding: 1.5rem;
}

/* Card footer */
.cardFooter {
	background-color: #fff;
	padding: 1rem 1.25rem;
	border-top: 1px solid #f1f1f1;
}

/* Styles for the excursions table */
.excursionsTable thead th {
	background-color: var(--green);
	color: #eee;
	font-weight: 600;
	border-bottom-width: 2px;
	border-color: #dee2e6;
	text-align: left;
	padding: 0.75rem;
}

/* Styles for the excursions table rows */
.excursionsTable tbody td {
	vertical-align: middle;
	padding: 0.75rem;
	border-color: #e9ecef;
}

/* Message when there are no excursions */
.noExcursionsJoined {
	text-align: center;
	padding: 2rem;
	font-style: italic;
	color: #6c757d;
	background-color: #f8f9fa;
	border-radius: 0.25rem;
}
