.cardHeader {
	background-color: var(--primary-color);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 1.25rem;
	border-bottom: 1px solid var(--primary-color);
}

.cardBody {
	padding: 1.5rem;
	font-size: 1.1rem;
}

.editButton,
.cancelButton,
.saveButton {
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.editButton:hover,
.cancelButton:hover,
.saveButton:hover {
	transform: scale(1.05);
}
