.userPage {
	min-height: var(--minheight);
}

.title {
	color: var(--primary-color);
	margin-top: 40px;
	margin-bottom: 2.5rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.cardHeader {
	background-color: var(--primary-color);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 1.25rem;
	border-bottom: 1px solid var(--primary-color);
}

.noExcursionsJoined {
	text-align: center;
	padding: 2rem;
	font-style: italic;
	color: #6c757d;
	background-color: #f8f9fa;
	border-radius: 0.25rem;
}
