.registerLink {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 0.375rem;
	background-color: transparent;
	border: 1px solid var(--register-link-border-color);
	color: var(--register-link-color);
	transition: none;
}

.registerLink:hover {
	background-color: var(--theme-toggle-btn-bg-hover);
	outline: none;
	box-shadow: none;
}

/* Estilo para el NavLink activo */
.navLink.active {
	background-color: var(--filter-pill-bg-hover);
	border-color: var(--filter-pill-border-hover);
	color: var(--text-color);
}

.navButton {
	/* Forzamos los colores para que anulen los estilos por defecto de Nav.Link */
	color: var(--login-btn-text, white);
	background-color: var(--login-btn-bg);
	/* Forzamos el padding de un bot칩n est치ndar para anular el de Nav.Link */
	padding: 0.375rem 0.75rem;
	border: 1px solid var(--login-btn-border);
	/* Anula el line-height por defecto de Nav.Link para que coincida con el de un bot칩n est치ndar. */
	line-height: 1.5;
	transition: none;
}

.navButton:hover,
.navButton:focus {
	color: var(--login-btn-text, white);
	background-color: var(--login-btn-bg-hover);
	border-color: var(--login-btn-border-hover);
}
