.customNavbar {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: var(--navbar-bg);
	transition: none;
	border-bottom: 1px solid var(--separator-color);
	z-index: 1030; /* Asegura que la barra de navegación esté por encima de otros elementos sticky */
}

/* En pantallas pequeñas (<768px) Y sólo en la página de excursiones, se elimina el borde para evitar duplicidad con 
   la barra de filtros. */
@media (max-width: 767.98px) {
	.onExcursionsPage {
		border-bottom: none;
	}
}

.authNavItems {
	min-height: 40px;
	min-width: 227.86px;
	justify-content: flex-start;
}

.offcanvasMenu {
	max-width: 300px;
	background-color: var(--excursion-card-bg); /* Fondo para el menú lateral */
}

/* Elimina el borde del botón de hamburguesa y su sombra al enfocarlo */
.navbarToggler,
.navbarToggler:focus {
	border: none;
	box-shadow: none;
}

/* Ajuste para el foco del toggler */
.navbar-toggler:focus {
	box-shadow: var(--navbar-toggler-focus-shadow);
}
